
html, body {
    overflow-y: visible;
    scroll-behavior: smooth;
    scrollbar-color: #bbff00 #f1f1f1;
    background-color: #bbff00;
}
body {
    height: 100%;
    margin: 0;
    overflow-x:hidden;
}

/* scroller scrollbar animation */

::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #bbff00;
    border-radius: 2px;
    background: #202020;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    max-height: 10px;
    -webkit-box-shadow: inset 0 0 10px #202020;
    background: #bbff00;
    transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: none;
    background: linear-gradient(#202020, #bbff00);
}
::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: none;
    border-radius: 2px;
    background: #202020;
}

/* nav bar */

.navbar {
    background-color: #bbff00;
    opacity: 0.7;
    filter: alpha(opacity=50);
}
.navbar ul li a {
    display: block;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    color: #000000;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;  
}
.navbar ul li a:hover {
    color: #000000;
    opacity: 0.6;
}
.navbar .container ul li .underline {
	height: 10px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}
.navbar .container ul li.active-link .underline {
	width: 100%;
	background-color: #202020;
    margin-bottom: 10px;
}
.navbar .container ul li:hover .underline {
	background-color: white;
	width: 100%;
}
.navbar .navbar-brand {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000000;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-weight: 800;
    font-size: 5rem;  
}

/* home section */

.main-img {
    top: 20%;
    left: 55%;
    height:40rem;
    position: relative;
    transform: translate(40%, 10%);
}
.main-bg {
    height: 100vh;
    position:relative;
}
.main-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
}
.main-text-typing {
    font-size: 4rem;
    display: inline-block;
    color: #000000;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 4s steps(22,end) forwards,
              blink 1.2s ; 
              /* blink 1s infinite; to show cursor till the end of screen */
}
@keyframes typing {
    0% { width:0% }
    100% { width:100% }
}
@keyframes blink {
    0%,100% {
        border-right:2px solid transparent;
    }
    50% {
        border-right:2px solid #ffffff;
    }
}
.main-text-typing:after {
    content:"";
    animation: spin 2.5s linear infinite;
}
@keyframes spin {
    0% { content:"UI/UX"; }
    20% { content:"Web Development"; }
    40% { content:"Web Design"; }
    60% { content:"Digital Marketing"; }
    80% { content:"Graphic Design"; }
    100% { content:"DX Engineering"; }
}
#hide {
    font-family:'Courier New';
    font-size: 1.5rem;
    color: #fff;
    animation: hideAnimation 0s ease-in 7s;
    animation-fill-mode: forwards;
}
@keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

/* about section */

#about {
    background-color: #202020;
    padding-bottom:100px;
    color: white;
}
.about-img {
    top: 20%;
    left: 55%;
    transform: translate(-55%, -55%);
    height:28rem;
    position: relative;
}
.about-img2 {
    top: 20%;
    left: 55%;
    transform: translate(-55%, -60%);
    height:30rem;
    position: relative;
}
.text-center {
    padding:30px;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    font-size: 3rem;
}

/* motto vision */

.glow-on-hover {
    align-self: center;
    font-size: medium;
    width: 180px;
    height: 90px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg,#e06f9b, #b17ce9,#8b9ce7, #7cc5d8, #bbff00,#db7878);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover:active {
    color: #000
}
.glow-on-hover:active:after {
    background: transparent;
}
.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* education experience */
.timeline {
    text-align:left;
}
.occurence ul {
    list-style-type: none;
}

/* strengths scroller styling */

.pcard {
    position: relative;
    padding: 2em;
    cursor: pointer;
    top: 30%;
    left:58%;
    transform: translate(-52%, -10%);
    box-shadow: 0 4px 4px rgba(235, 255, 0, 0.3), 
      0 8px 8px rgba(235, 255, 0, 0.2), 
      0 16px 16px rgba(235, 255, 0, 0.2),
      0 32px 32px rgba(170, 170, 170, 0.1),
      0 64px 64px rgba(145, 145, 145, 0.1);
}
.skillsets {
    transform: translate(10%, 0%);
}

.scroller {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: 20em;
}
.scroller > span {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
    font-weight: bold;
}

@keyframes slide {
    0% {
        top: 0;
    }
    25% {
        top: -1.2em;
    }
    50% {
        top: -2.4em;
    }
    75% {
        top: -3.6em;
    }
}

/* skillsets styling */

.circle-wrap {
    transform: translate(-20%, 22%);
    margin: 1.5rem auto;
}
.circle-wrap .mask,
.circle-wrap .fill {
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 50%;
}
.circle-wrap .mask {
    clip: rect(0rem, 6rem, 6rem, 3rem);
}
.circle-wrap .mask .fill {
    clip: rect(0rem, 3rem, 36rem, 0rem);
    background-color: #bbff00;
}

.circle-wrap .mask.full,
.circle-wrap .fill.eighty {
    animation: fill_eighty ease-in-out 3s;
    transform: rotate(144deg);
}
@keyframes fill_eighty {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(144deg);
    }
}
.circle-wrap .mask.full,
.circle-wrap .fill.ninety{
    animation: fill_ninety ease-in-out 3s;
    transform: rotate(162deg);
}
@keyframes fill_ninety {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(162deg);
    }
}
.circle-wrap .mask.full,
.circle-wrap .fill.sixtyfive {
    animation: fill_sixtyfive ease-in-out 3s;
    transform: rotate(117deg);
}
@keyframes fill_sixtyfive {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(117deg);
    }
}
.circle-wrap .mask.full,
.circle-wrap .fill.fifty {
    animation: fill_fifty ease-in-out 3s;
    transform: rotate(90deg);
}
@keyframes fill_fifty {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
.circle-wrap .mask.full,
.circle-wrap .fill.thirty {
    animation: fill_thirty ease-in-out 3s;
    transform: rotate(54deg);
}
@keyframes fill_thirty {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(54deg);
    }
}

.circle-wrap .inside-circle {
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    background: #000000;
    line-height: 5.2rem;
    text-align: center;
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 1.5rem;
    color:#fff;
    outline-style:dotted;

}
.icon img {
    width: 5.2rem;
    height: 5.2rem;
    transform: translate(-20%, 10%);
    margin: 1.5rem auto;
}

/* projects section */

.card.projectsContent {
    background-color:#202020;
    height: 42rem;
    cursor: pointer;
    border-radius: 10%;
    border-color: #fff;
    border-width: 2px;
}

#projects {
    text-align: center;
    color: #fff;
    background: linear-gradient(180deg, #bbff00,#505050, #000000);
    /* background-color: #202020; */
}
#projects h1, h5 {
    color:#000;
}
.card-text {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: left;
    background-color: #313131;
    height: 8rem;
}
.card-text p{
    margin:10px;
}
.card-body .btn {
    width: 5rem;
    background-color: #313131;
    color: #fff;
    border-radius: 0%;
    border-color: #fff;
    border-width: 2px;
}
.card-body .btn:hover {
    width: 5rem;
    background-color: #bbff00;
    color: #000;
    border-color: #fff;
    border-width: 2px;
}

/* contact section */

#contact {
    color: #000;
    padding-bottom: 100px;
    font-family: 'Prompt', sans-serif;
    
}
#contact .btn {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #313131;
    border-radius: 0%;
    font-size: 1.5rem;
    border-color: #fff;
    border-width: 5px;
}
#contact .btn:hover {
    background-color:#fff;
    color: #000;
    border-color: #000;
    border-width: 5px;
}
#contact form {
    background-color:#313131;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#contact form .form-control{
    border-radius: 0%;
    font-size: 1rem;
    text-align: left;
}
.contact-text {
    font-size: 2rem;
    margin-bottom: 50px;
}
#contact .map {
    border-style:outset;
    border-color:#000;
}

/* footer styling */

.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #d0d0d0;
}
.fab {
    color: #bbff00;
}

#footer {
    padding-top: 0.1rem;
    padding-bottom: 1.2rem;
    background-color: #000;
    text-align: center;
}